@import "./_variables.scss";

.vim {
  color: $vim-color;
}

.elixir {
  color: $elixir-color;
}

.rails {
  color: $rails-color;
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: $spacing * $i;
  }
}

.text--subdued {
  color: rgb(159, 161, 167);
  font-weight: bold;
  font-size: 13px;
}
