@import "./_variables.scss";

.vim {
  color: $vim-color;
}

.elixir {
  color: $elixir-color;
}

.rails {
  color: $rails-color;
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: $spacing * $i;
  }
}
